.u-visually-hidden[data-v-4fe76a0f] {
  border: none !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
html[data-v-4fe76a0f] {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html[data-v-4fe76a0f] {
    font-size: 2.7777777778vw;
    font-size: calc(2.77778vw - var(--sbw) / 36);
  }
}
@media screen and (min-width: 769px) and (max-width: 1079px) {
  html[data-v-4fe76a0f] {
    font-size: 0.6944444444vw;
    font-size: calc(0.69444vw - var(--sbw) / 144);
  }
}
@media screen and (min-width: 1080px) and (max-width: 1599px) {
  html[data-v-4fe76a0f] {
    font-size: 0.6097560976vw;
    font-size: calc(0.60976vw - var(--sbw) / 164);
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html[data-v-4fe76a0f] {
    font-size: 0.5208333333vw;
    font-size: calc(0.52083vw - var(--sbw) / 192);
  }
}
@media screen and (min-width: 1920px) {
  html[data-v-4fe76a0f] {
    font-size: 0.5208333333vw;
    font-size: calc(0.52083vw - var(--sbw) / 192);
  }
}
.--bg-sky[data-v-4fe76a0f] {
  background: #9dc4f5;
}
.--bg-baby[data-v-4fe76a0f] {
  background: #ffcadc;
}
.--bg-lemonade[data-v-4fe76a0f] {
  background: #fbe74e;
}
.--bg-grey8[data-v-4fe76a0f] {
  background-color: #f9faf9;
}
.--bg-grey7[data-v-4fe76a0f] {
  background-color: #ecefec;
}
.--bg-grey6[data-v-4fe76a0f] {
  background-color: #d1d6d2;
}
.--bg-grey4[data-v-4fe76a0f] {
  background-color: #a1a6a2;
}
.--bg-green[data-v-4fe76a0f] {
  background-color: #05c92f;
}
.--bg-flash-red[data-v-4fe76a0f] {
  background-color: #ff5a4d;
}
.--bg-white[data-v-4fe76a0f] {
  background-color: #fff;
}
.--bg-light-green[data-v-4fe76a0f] {
  background-color: #e2f2e5;
}
.--bg-big-blue[data-v-4fe76a0f] {
  background-color: #2a5cd3;
}
.--c-black[data-v-4fe76a0f] {
  color: #0f0f0f;
}
.--c-grey1[data-v-4fe76a0f] {
  color: #5a585a;
}
.--c-grey2[data-v-4fe76a0f] {
  color: #727472;
}
.--c-grey3[data-v-4fe76a0f] {
  color: #6e726e;
}
.--c-white[data-v-4fe76a0f] {
  color: #fff;
}
.Page-stickers[data-v-4fe76a0f] {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.Page[data-v-4fe76a0f] {
  position: relative;
  width: 100%;
}
.page[data-v-4fe76a0f] {
  background: #f9faf9;
}
.pageMediaKit[data-v-4fe76a0f] {
  background: linear-gradient(180deg, #ffcadc, #eaeaea);
}
.pageBlog[data-v-4fe76a0f],
.pageSecurity[data-v-4fe76a0f] {
  background: linear-gradient(180deg, #f9faf9, #ecefec);
}
.pageDownload[data-v-4fe76a0f] {
  background: #f9faf9;
}
.pageXdefi[data-v-4fe76a0f] {
  background: linear-gradient(180deg, #d1d6d2, #f6f7f6);
}
.pageAbout[data-v-4fe76a0f] {
  background: linear-gradient(180deg, #9dc4f5, #e8eded);
}
.HomeHero-posTitleHelper[data-v-4fe76a0f] {
  position: absolute;
  top: calc(100vh - 15rem);
}
.Page-stickers[data-v-4fe76a0f] .StickersEffect-area {
  height: calc(100% - 10rem);
}
